<div class="row" data-ng-controller="DevMultAuthorsCtrl">
	<!--
	<div class="col-lg-12">
	    <rd-widget>
		    <rd-widget-body classes="xx-large no-padding">
		    	<div id="viz1" style="overflow-y: hidden;"></div>
		    </rd-widget-body>
	    </rd-widget>
	</div>			
	-->

	<div class="col-lg-12">
	    <rd-widget>
		    <rd-widget-body classes="xx-large no-padding">
		    	<div id="viz2" style="overflow-y: hidden;"></div>
		    </rd-widget-body>
	    </rd-widget>
	</div>			

	<div class="col-lg-12">
	    <rd-widget>
		    <rd-widget-body classes="xx-large no-padding">
		    	<div id="viz3" style="overflow-y: hidden;"></div>
		    </rd-widget-body>
	    </rd-widget>
	</div>			

	<!--
	<div class="col-lg-12">
	    <rd-widget>
		    <rd-widget-body classes="xx-large no-padding">
		    	<div id="viz4" style="overflow-y: hidden;"></div>
		    </rd-widget-body>
	    </rd-widget>
	</div>			

	<div class="col-lg-12">
	    <rd-widget>
		    <rd-widget-body classes="xx-large no-padding">
		    	<div id="viz5" style="overflow-y: hidden;"></div>
		    </rd-widget-body>
	    </rd-widget>
	</div>			

	<div class="col-lg-12">
	    <rd-widget>
		    <rd-widget-body classes="xx-large no-padding">
		    	<div id="viz6" style="overflow-y: hidden;"></div>
		    </rd-widget-body>
	    </rd-widget>
	</div>			

	<div class="col-lg-12">
	    <rd-widget>
		    <rd-widget-body classes="xx-large no-padding">
		    	<div id="viz7" style="overflow-y: hidden;"></div>
		    </rd-widget-body>
	    </rd-widget>
	</div>			
	-->
</div>