<div class="row">
	<div class="col-lg-12">
		<rd-widget>
		    <select class="form-control">
	    		<optgroup label="Javascript">
			      <option>...</option>
			    </optgroup>
			    <optgroup label="Python">
			      <option>...</option>
			    </optgroup>
			    <optgroup label="Ruby">
			      <option selected>ActiveAdmin</option>
						<option>Haml</option>
			      <option>...</option>
			    </optgroup>
			    <optgroup label="C/C++">
			      <option>...</option>
			    </optgroup>
			    <optgroup label="Java">
			      <option>...</option>
			    </optgroup>
			    <optgroup label="PHP">
			      <option>...</option>
			    </optgroup>
	      	</select>
	    </rd-widget>
	</div>
</div>

<div  ng-controller="DistributionCtrl">
	<div class="row">
		<div class="col-lg-12">
			<div id="viz1" style="font: 11px sans-serif; "></div>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-lg-12">
			<rd-widget>
			    <rd-widget-body classes="large no-padding">
			    	<div id="viz2"></div>
			    </rd-widget-body>
		    </rd-widget>
		</div>
	</div>
	-->
</div>
